Data/readability_scores_included_train.csv filter=lfs diff=lfs merge=lfs -text
Data/train_numerical.csv filter=lfs diff=lfs merge=lfs -text
Data/WikiLarge_Test.csv filter=lfs diff=lfs merge=lfs -text
Data/WikiLarge_Train.csv filter=lfs diff=lfs merge=lfs -text
Data/aoa_features_traindata.csv filter=lfs diff=lfs merge=lfs -text
Data/concreteness_features_testdata.csv filter=lfs diff=lfs merge=lfs -text
Data/readability_scores_included_test.csv filter=lfs diff=lfs merge=lfs -text
Data/pos_tag_testdata.csv filter=lfs diff=lfs merge=lfs -text
Data/pos_tag_traindata.csv filter=lfs diff=lfs merge=lfs -text
Data/words_testdata.csv filter=lfs diff=lfs merge=lfs -text
Data/AoA_countfeatures_traindata.csv filter=lfs diff=lfs merge=lfs -text
Data/aoa_features_testdata.csv filter=lfs diff=lfs merge=lfs -text
Data/concreteness_numerical_features_testdata.csv filter=lfs diff=lfs merge=lfs -text
Data/AoA_countfeatures_testdata.csv filter=lfs diff=lfs merge=lfs -text
Data/concreteness_features_traindata.csv filter=lfs diff=lfs merge=lfs -text
Data/concreteness_numerical_features_traindata.csv filter=lfs diff=lfs merge=lfs -text
Data/test_numerical.csv filter=lfs diff=lfs merge=lfs -text
Data/words_traindata.csv filter=lfs diff=lfs merge=lfs -text
